<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Multi browser test" verbose="1" parallel="tests" thread-count="99">

    <test name="Chrome execution">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="web.CadastrarPessoaTest" />
        </classes>
    </test>

    <test name="Chrome execution headless">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="web.RemoverPessoaTest" />
        </classes>
    </test>

</suite>